<!doctype html>
<title>Example</title>
<style>
body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 60px 1fr 100px;
  grid-template-columns: 15% 1fr 25%;
  grid-gap: 10px;
  margin: 0;
  }
header, footer, article, aside, div {
  padding: 10px;
  background: gold;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  }
table, tr, th, td {
  border:1px solid black;
  border-collapse: collapse;

}
</style>
<body>
  <header id="pageHeader">
    <table style="margin-left: auto;"> 
      <tr>
        <td>
            Tervetuloa Jalkapallo-sivulle
        </td>
        <td>
            <select>
                <option>Valitse toiminto</option>
                {{#each valitsevalikko}}
                  <option>{{this}}</option>
                {{/each}}
              </select>        
        </td>
      </tr> 
    </table>
  </header>
  <article id="mainArticle">
      {{{body}}}
  </article>
  <aside id="mainNav">
    <ul style="list-style: none;">
        <li><a href="/sarjataulukko">Sarjataulukko</a></li>
        <li><a href="/pelaajatjajoukkueet">Pelaajat ja joukkueet</a></li>
    </ul>
  </aside>
  <div id="siteAds">
    <p>Seuraava tapahtumat</p>
    <ul style="list-style: none;">
        {{#each seuraavattapahtumat}}
          <li>{{this}}</li>
        {{/each}}
    </ul>
  </div>
  <footer id="pageFooter">
    <div style="text-align: center">
        <p>Yhteystiedot</p>
    </div>
  </footer>
</body>